.login_bg {
    width: 100%;
    height: 625px;
    padding: 5%;
    margin-top: -4px;
    opacity: 0.7;
    -moz-box-shadow: 10px 10px 50px #ccc;
    -webkit-box-shadow: 10px 10px 50px #ccc;
    box-shadow: inset 0px 0px 50px rgba(0,0,0,0.5);
}

.login_container {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

#paintThis {
  background-color: #8ce798;
}